h1 {
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    color: aliceblue;
    text-decoration: overline;
}

html, body {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------------------Vertical SCROLLING*/
.scroll-container {
    margin: 0;
    max-height: 100vh;
    overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}


/*------------------------------------------------------------------ABOUT STYLING */

.about-div {
    height: 100vh;
    scroll-snap-align: start;
    padding: 0;
    margin: 0;
    background-image:
            linear-gradient(
                rgba(0,0,0,.25),
                rgba(0,0,0,.25)   
            ),
            url("images\\earthview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aqua;
    
}

.about-content {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 7rem);
    width: calc(100vl - 500px);
}

.about-img {
    width: 400px;
    max-width: 100%;

}

.about-p {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 12px;
    padding: 1rem;
}

/*------------------------------------------------------------------Projects STYLING */

.projects-div {
    height: 100vh;
    scroll-snap-align: start;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    background-image: 
        linear-gradient(
            rgba(0,0,0,.45),
            rgba(0,0,0,.45)   
        ),
        url("images\\spacedust.jpg");
}

.projects-slideshow {
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgba(0, 0, 0, 0.65);
    max-width: calc(100vw - 10rem);
    border-radius: 12px;
}

.project {
    display: none;
    padding-right: 5%;
    min-height: calc(100vh - 10rem);
    max-height: calc(100vh - 10rem);
}

.project-content {
    display: flex;
    flex-direction: row;
}

.project-info-tools-langs {
    align-content: center;
}

.project-info-description {
    align-content: center;
}

h2 {
    margin-bottom: 10%;
    font-size: 3rem;
}

h3 {
    text-align: center;
}

.project-photo-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    color: aqua;
    overflow: hidden;
}

.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 15%;
  margin-bottom: 10%;
  color: aqua;
}

.cosmOS-img, .vsa-img, .nirvana-img, .cpu-img, .bewareofbirds-img {
    max-width: 80%;
    max-height: 90%
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -3rem;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px;
  }

  .next:hover, .prev:hover {
      background-color: turquoise;
  }

  .next {
    right: 5rem;
  }

/*------------------------------------------------------------------Contact STYLING */

.contact-div {
    height: 100vh;
    scroll-snap-align: start;
    padding: 0;
    margin: 0;
    background-image: 
                        linear-gradient(
                         rgba(0,0,0,.5),
                         rgba(0,0,0,.5)   
                        ),
                        url("images\\earthwithsattelite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}